<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS watcher settings</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <form id="contact" action="/" method="post">
      <h3>Settings</h3>
      <h4>Feeds will be updated every 30 minutes</h4>
      <fieldset>
        <input placeholder="Save path" type="text" tabindex="1" value="{{ path }}" name="path" required autofocus />
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your urls here. One line per url" tabindex="2" name="feeds" required>{{ feeds }}</textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Save</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
